@model Calculator_MVC.Models.web_based_calc
@{
    ViewBag.Title = "Index";
}

<html>
<head>
	<title>Calculator</title>
</head>
<body>	
		<div class="container">
			<h1>Calculator MVC Based </h1>
			<div class="row">
				@using (Html.BeginForm("/Index", "web_based_calc", FormMethod.Post))
				{
				<div class="col-md-7">
					<div class="form-group">
						<label for="input1">Enter Your Number</label>
						<input type="text" class="form-control" name="input1" id="input1" value="@Model.input1" />
					</div>
					<div class="form-group">
						<label for="input2">Enter Your Number</label>
						<input type="text" class="form-control" name="input2" id="input2" value="@Model.input2" />
					</div>
					<div class="form-group">
						<label for="total">Total</label>
						<input type="text" class="form-control" name="tot" id="tot" value="@Model.tot" />
					</div>
				</div>

					<div class="col-md-5">
						<button type="submit" class="btn btn-danger btn-block" id="add" value="add" name="calculate">+</button>
						<button type="submit" class="btn btn-danger btn-block" id="sub" value="sub" name="calculate">-</button>
						<button type="submit" class="btn btn-danger btn-block" id="mul" value="mul" name="calculate">*</button>
						<button type="submit" class="btn btn-danger btn-block" id="divide" value="divide" name="calculate">/</button>
					</div>
				}
			</div>
		</div>	
</body>
</html>

